@use '@angular/material' as mat;

:root {
  @include mat.button-overrides((
    filled-container-shape: '6px',
    outlined-container-shape: '6px'
  ));
  @include mat.badge-overrides((
    background-color: blue,
  ));


}

.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

.snack-error {
  @include mat.snack-bar-overrides((
    button-color: white,
    container-color: #a51d2d,
    supporting-text-color: white));
}

.snack-success {
  @include mat.snack-bar-overrides((
    button-color: white,
    container-color: #26a269,
    supporting-text-color: white));
}
