@if (product) {
  <section class="py-8">
    <div class="max-w-screen-2xl px-4 mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <!-- Image Section -->
        <div class="max-w-xl mx-auto">
          <img
            class="w-full object-cover rounded-md"
            src="{{product.pictureUrl}}"
            alt="{{product.name}} picture">
        </div>

        <!-- Product Info Section -->
        <div>
          <h1 class="text-2xl md:text-3xl font-semibold text-gray-900">{{ product.name }}</h1>
          <p>you have {{ quantityInCart }} of this item in your cart</p>
          <div class="mt-4 items-center gap-4 flex">
            <p class="text-2xl md:text-3xl font-extrabold text-gray-900">
              {{ product.price | currency }}
            </p>
          </div>

          <!-- Buttons and Quantity -->
          <div class="flex flex-wrap gap-4 mt-6 items-stretch">
            <button
              [disabled]="quantity === quantityInCart"
              (click)="updateCart()"
              mat-flat-button
              class="flex items-center gap-2  text-white py-2 rounded shadow-md h-full">
              <mat-icon class="size-10 flex items-center justify-center">shopping_cart</mat-icon>
              {{ getButtonText() }}
            </button>

            <mat-form-field
              appearance="outline"
              class="w-full sm:w-auto flex-1">
              <mat-label>Quantity</mat-label>
              <input matInput type="number" class="w-full" min="0" [(ngModel)]="quantity">
            </mat-form-field>
          </div>

          <mat-divider class="my-6"></mat-divider>
          <p class="mt-6 text-gray-500">
            {{ product.description }}
          </p>
        </div>
      </div>
    </div>
  </section>
}

